<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterDepartment</display-name>
    <servlet-name>AlterDepartment</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.department.AlterDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterDepartment</servlet-name>
    <url-pattern>/alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDepartment</display-name>
    <servlet-name>ListDepartment</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.department.ListDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDepartment</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.role.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/role</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartServlet</display-name>
    <servlet-name>DepartServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.department.DepartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartServlet</servlet-name>
    <url-pattern>/depart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartmentServlet</display-name>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.department.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <url-pattern>/addDepart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDepartmentServlet</display-name>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.department.DeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <url-pattern>/deleteDepart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDepartmentServlet</display-name>
    <servlet-name>UpdateDepartmentServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.department.UpdateDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDepartmentServlet</servlet-name>
    <url-pattern>/updateDepart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRoleServlet</display-name>
    <servlet-name>ListRoleServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.role.ListRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoleServlet</servlet-name>
    <url-pattern>/listRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoleServlet</display-name>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.role.DeleteRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <url-pattern>/deleteRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoleServlet</display-name>
    <servlet-name>AddRoleServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.role.AddRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoleServlet</servlet-name>
    <url-pattern>/addRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoleServlet</display-name>
    <servlet-name>UpdateRoleServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.role.UpdateRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoleServlet</servlet-name>
    <url-pattern>/updateRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/listUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnUserService</display-name>
    <servlet-name>AnnUserService</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.AnnUserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnUserService</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/findUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DuoBiaoServlet</display-name>
    <servlet-name>DuoBiaoServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.DuoBiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuoBiaoServlet</servlet-name>
    <url-pattern>/duoBiao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListNoticeServlet</display-name>
    <servlet-name>ListNoticeServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.notice.ListNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNoticeServlet</servlet-name>
    <url-pattern>/listNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNoticeServlet</display-name>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.notice.DeleteNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <url-pattern>/deleteNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNoticeService</display-name>
    <servlet-name>AddNoticeService</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.notice.AddNoticeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNoticeService</servlet-name>
    <url-pattern>/addNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookUserServlet</display-name>
    <servlet-name>LookUserServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.LookUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookUserServlet</servlet-name>
    <url-pattern>/lookUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNoticeServlet</display-name>
    <servlet-name>UpdateNoticeServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.notice.UpdateNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoticeServlet</servlet-name>
    <url-pattern>/updateNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookNoticeServlet</display-name>
    <servlet-name>LookNoticeServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.notice.LookNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookNoticeServlet</servlet-name>
    <url-pattern>/lookNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteMailServlet</display-name>
    <servlet-name>WriteMailServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.mail.WriteMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteMailServlet</servlet-name>
    <url-pattern>/writeMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailServlet</display-name>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.mail.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/sendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveMailServlet</display-name>
    <servlet-name>ReceiveMailServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.mail.ReceiveMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveMailServlet</servlet-name>
    <url-pattern>/receiveMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftMailServlet</display-name>
    <servlet-name>DraftMailServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.mail.DraftMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftMailServlet</servlet-name>
    <url-pattern>/draftMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrashMailServlet</display-name>
    <servlet-name>TrashMailServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.mail.TrashMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrashMailServlet</servlet-name>
    <url-pattern>/trashMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMailServlet</display-name>
    <servlet-name>DeleteMailServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.mail.DeleteMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMailServlet</servlet-name>
    <url-pattern>/deleteMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMailServlet</display-name>
    <servlet-name>UpdateMailServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.mail.UpdateMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMailServlet</servlet-name>
    <url-pattern>/updateMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailMailServlet</display-name>
    <servlet-name>DetailMailServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.mail.DetailMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailMailServlet</servlet-name>
    <url-pattern>/detailMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.user.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/loginOut</url-pattern>
  </servlet-mapping>
  
  
  
  
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.zhiyou100.web.filter.MyFilter</filter-class>
  </filter>
  <listener>
    <listener-class>com.zhiyou100.web.listener.HttpSessionListenerText</listener-class>
  </listener>
  <listener>
    <listener-class>com.zhiyou100.web.listener.ServletContextListenerText</listener-class>
  </listener>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>   
  </filter-mapping>
 
 
  
   <context-param>
   	<param-name>contextConfigLocation</param-name>
   	<param-value>classpath:applicationContext.xml</param-value>
   </context-param>  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  
    
  
  <servlet>
    <description></description>
    <display-name>OneServlet</display-name>
    <servlet-name>OneServlet</servlet-name>
    <servlet-class>com.zhiyou100.web.servlet.listener.OneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneServlet</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
</web-app>